# flyctl launch added from .gitignore
**\*.npy

**\test*.py

**\__pycache__

**\backup

**\indexes\forward
**\indexes\inverted\inverted_0.csv
**\indexes\inverted\inverted_1.csv
**\indexes\inverted\inverted_2.csv
**\indexes\inverted\inverted_3.csv
**\indexes\inverted\inverted_4.csv
**\indexes\inverted\inverted_5.csv
**\indexes\inverted\inverted_6.csv
**\indexes\inverted\inverted_7.csv
**\indexes\inverted\inverted_8.csv

**\datasets

**\service_account.json
fly.toml
